html,
body {
  height: 100%;
  width: 100%;
  padding: 0.5em;
  margin: 0;
  background: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
.d-f {
  display: flex;
}
.fx-1 {
  flex: 1;
}
.fxs-0 {
  flex-shrink: 0;
}
.ai-c {
  align-items: center;
}
input,
button {
  font-size: inherit;
  padding: 0.5em 1em;
}
hr {
  margin: 2.5em 0;
}
#app {
  min-height: 100vh;
}
.btn {
  background-color: darkgreen;
  color: white;
}
.btn:hover {
  background-color: green;
  color: white;
}
.disclaimer {
  border: indianred;
  background: rgb(236, 185, 185);
  color: #111;
  padding: 1em;
  border-radius: 4px;
}
.info {
  border: rgb(51, 95, 153);
  background: rgb(161, 191, 231);
  color: #111;
  padding: 1em;
  border-radius: 4px;
}
.footer {
  margin-top: 2em;
  padding: 2em 0;
  text-align: center;
}
.main-title {
  margin-top: 0;
}
/* CARD */
.card {
  flex-shrink: 0;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1em;
  max-width: 550px;
  margin: 0.5em;
  word-break: break-word;
  text-align: left;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}
.card__header {
  display: flex;
  justify-content: space-between;
}
.card__user-wrap {
  display: flex;
  align-items: center;
}

.card__user-name {
  margin: 0;
}
.card__user-img-wrap {
  margin-right: 1em;
}
.card__user-img-wrap img {
  border-radius: 50%;
  overflow: hidden;
}
.card__meta,
.card__user-handle {
  color: #697882;
  font-size: 0.83em;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.separator-h {
  margin: 0 0.5em;
}
.url-form-wrap {
  /* display: flex; */
}
.url-form-wrap > button {
  width: 100%;
  margin: 3px 0;
}
.loader {
  display: inline-block;
  transform-origin: center 16px;
  animation: rotate 2s infinite linear;
}
.card__image {
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
  border: 1px solid #ccc;
  /* display: flex; */
  justify-content: center;
  max-height: 250px;
}
@keyframes rotate {
  to {
    transform: rotate(359deg);
  }
}
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}
.modal__content {
  background: white;
  padding: 0.5em;
  border-radius: 3px;
  width: 95vw;
  max-width: 600px;
  margin-top: 2em;
}
.modal.is-visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 800px) {
  html,
  body {
    font-size: 1.3em;
  }
  body,
  .modal__content {
    padding: 1em;
  }
}
@media screen and (min-width: 1300px) {
  body {
    max-width: 1300px;
    margin: 0 auto;
  }
  .url-form-wrap > button {
    width: auto;
  }
}
@media print {
  .hide-in-print {
    display: none;
  }
}
.print-mode .hide-in-print {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
